{
  "env": {
    "umd": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": ["external-helpers"]
    },
    "commonjs": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [["transform-es2015-modules-commonjs", { "loose": true }]]
    },
    "es": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": []
    }
  }
}
