{
  "env": {
    "umd": {
      "presets": [
        "es2015-rollup"
      ]
    },
    "commonjs": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    },
    "es": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ]
      ],
      "plugins":[
      ]
    }
  }
}
